img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    max-width:90%;
    height: auto;
}

body {
    font-size:1.65em;
    line-height:1.8;
    font-family: 'Raleway', sans-serif;
    color:#222;
}

.container {
    position:relative;
    width:100%;
    max-width:670px;
    margin:0 auto;
    padding:0 20px;
    box-sizing:border-box
}

.row {
    margin-top: 3.5%
}

.timestamp { 
    float: right;
    font-style: italic;
    display: inline;
}

.share {
    display: inline;
    margin-top: -10%;
    text-decoration: none;
}

.post-bottom {
    margin-top: -2%;
}

/* Adapted from: https://www.w3schools.com/howto/howto_js_snackbar.asp */
#permalink-toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 220px; /* Set a default minimum width */
    margin-left: -110px; /* Divide value of min-width by 2 */
    background-color: rgb(10, 109, 55); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 35px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #permalink-toast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


#permafooter {width:100%;}
#permafooter #left{float:left;width:100px;}
#permafooter #center{margin:0 auto;width:100px;}
#permafooter #right{float:right;width:100px;}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
    *:not(pre):not(code):not(a){
        color: #ddd;
    }
    body {
        background: rgb(26, 28, 32);
    }
}