img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    max-width:90%;
    height: auto;
}

body{
    font-size:1.65em;
    line-height:1.8;
    font-family: 'Raleway', sans-serif;
    color:#222;
}

.container {
    position:relative;
    width:100%;
    max-width:670px;
    margin:0 auto;
    padding:0 20px;
    box-sizing:border-box
}

.row {
    margin-top: 3.5%
}

.post .timestamp { 
    margin-top: -2.1%;
    text-align: right;
    font-style: italic;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}


@media (prefers-color-scheme: dark) {
    *:not(pre):not(code){
        color: #ddd;
    }
    body {
        background: rgb(26, 28, 32);
    }
}