<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thoughts</title>
    <!-- <meta name="description" content="Micro Blog of Mark Zhang"> -->
    <!-- <meta name="author" content="Mark Zhang"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="icon" type="image/png" href="assets/favicon.ico">
</head>
<body>
    <div class="container">
        <center>
          <div class="row">
            <h3><b>Random Thoughts</b></h3>
            <!-- <h6 style="margin-bottom: 0">from <a href="https://markzhang.io">Mark Zhang</a></h6> -->
          </div>
        </center>
        <hr/>
        {posts}
    </div>
</body>
</html>