<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thoughts</title>
    <meta name="description" content="Victor's Brain">
    <meta name="author" content="Victor Liao">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- LaTeX rendering -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.43/polyfill.min.js?features=es6" integrity="sha512-lvWiOP+aMKHllm4THsjzNleVuGOh0WGniJ3lgu/nvCbex1LlaQSxySUjAu/LTJw9FhnSL/PVYoQcckg1Q03+fQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.1.4/es5/tex-mml-chtml.min.js" integrity="sha512-S+79ClJq589gqNbddnVeTBL2CNIaYL3tKs3oPaidENSxukCt0JhPfdvVaoxILiPhdn8Fdw8gjV4fYqy9ldsiSA==" crossorigin="anonymous"></script>
    
    <!-- Code block syntax highlighting -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <link rel="stylesheet" href="{url_depth}assets/css/main.css">
    <link rel="icon" type="image/png" href="{url_depth}assets/favicon.ico">
    <script src="{url_depth}assets/js/main.js"></script>

 </head>
<body>
    <div class="container">
        <center>
          <div class="row">
            <h3><b>Random Thoughts</b></h3>
            <h6 style="margin-bottom: 0">from Victor Liao</a></h6>
          </div>
        </center>
        <hr/>
        {posts}
        {footer}
    </div>
    <div id="permalink-toast">Permalink copied to clipboard.</div>
</body>
</html>
